body{
    width: 960px;
    margin: 10px auto;
    background-color:cornsilk;
}
img{
    margin-right: 30px;
    
}
img.content{
    margin: 0px;
    float: right;
}

h1{
    background-color: orange;
    color:crimson;
    font-family: Impact;
    font-size:40px;
    padding:10px;
}

p{
    font-family: Arial;
    font-size: 18px;
}

